Leads/Scrape_Instagram.json
{
    "createdAt": "2025-04-17T06:07:24.068Z",
    "updatedAt": "2025-04-24T09:29:57.000Z",
    "id": "uShniQJGXWveHg2l",
    "name": "Scrape Instagram",
    "active": false,
    "nodes": [
        {
            "parameters": {
                "inputSource": "jsonExample",
                "jsonExample": "{\n  \"search\": \"landscaping\",\n  \"location\": \"New York\",\n  \"state\": \"NY\",\n  \"country\": \"United States\",\n  \"limit\": 200,\n  \"countryCode\": \"us\"\n}"
            },
            "id": "b93b5a72-6389-469a-8372-285ee2de563c",
            "typeVersion": 1.1,
            "name": "When Executed by Another Workflow",
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "position": [
                -80,
                360
            ]
        },
        {
            "parameters": {
                "url": "=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                780,
                360
            ],
            "id": "aff11772-f54d-411b-86e3-ea663cbd4070",
            "name": "HTTP Request2",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "SnXFnDMjJNbazDLf",
                    "name": "Apify"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.apify.com/v2/acts/culc72xb7MP3EbaeX/runs?waitForFinish=300",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n    \"customMapFunction\": \"(object) => { return {...object} }\",\n    \"maxItems\": {{ $json.limit }},\n    \"startUrls\": [\n        \"https://www.instagram.com/explore/tags/{{ $json.search }}\",\n        \"https://www.instagram.com/explore/tags/{{ $json.location }}\"\n    ],\n    \"until\": \"2023-12-31\"\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                580,
                360
            ],
            "id": "aa032c02-4985-4305-b0c5-af1eca8afa7f",
            "name": "HTTP Request",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "SnXFnDMjJNbazDLf",
                    "name": "Apify"
                }
            }
        },
        {
            "parameters": {
                "operation": "appendOrUpdate",
                "documentId": {
                    "__rl": true,
                    "value": "1uuz2P8Igbi5ycSfa0auLXMmhqD7j5Xkhd9-6XZ_kEBY",
                    "mode": "list",
                    "cachedResultName": "Scraped Data",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uuz2P8Igbi5ycSfa0auLXMmhqD7j5Xkhd9-6XZ_kEBY/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": 1928167735,
                    "mode": "list",
                    "cachedResultName": "Instagram",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uuz2P8Igbi5ycSfa0auLXMmhqD7j5Xkhd9-6XZ_kEBY/edit#gid=1928167735"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "id": "={{ $json.id }}",
                        "url": "={{ $json.url }}",
                        "likeCount": "={{ $json.likeCount }}",
                        "commentCount": "={{ $json.commentCount }}",
                        "caption": "={{ $json.caption }}",
                        "username": "={{ $json.owner.username }}",
                        "fullName": "={{ $json.owner.fullName }}",
                        "location": "={{ $json.location }}"
                    },
                    "matchingColumns": [
                        "id"
                    ],
                    "schema": [
                        {
                            "id": "id",
                            "displayName": "id",
                            "required": false,
                            "defaultMatch": true,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "url",
                            "displayName": "url",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "likeCount",
                            "displayName": "likeCount",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "commentCount",
                            "displayName": "commentCount",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "caption",
                            "displayName": "caption",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "username",
                            "displayName": "username",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "fullName",
                            "displayName": "fullName",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "location",
                            "displayName": "location",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                1000,
                360
            ],
            "id": "1009ce1e-e744-40a1-a3eb-e38728950fea",
            "name": "Google Sheets",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "seMEDuFYQQi6AWSe",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "language": "python",
                "pythonCode": "# Add a new field called 'myNewField' to the JSON of the item\n_input.item.json.search = str(_input.item.json.search).strip().lower().replace(' ', '')\n_input.item.json.location = str(_input.item.json.location).strip().lower().replace(' ', '')\n_input.item.json.limit = max(200, _input.item.json.limit)\nreturn _input.item"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                360,
                360
            ],
            "id": "415b5c2e-812e-4275-813c-abe1d5748026",
            "name": "Code"
        },
        {
            "parameters": {
                "aggregate": "aggregateAllItemData",
                "options": {}
            },
            "type": "n8n-nodes-base.aggregate",
            "typeVersion": 1,
            "position": [
                1220,
                360
            ],
            "id": "b3f260ac-81f2-4fdc-a730-7f015a367315",
            "name": "Aggregate1"
        },
        {
            "parameters": {
                "url": "=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                780,
                680
            ],
            "id": "54b4fd8b-556b-4710-a97a-fa9108ba8cae",
            "name": "HTTP Request3",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "SnXFnDMjJNbazDLf",
                    "name": "Apify"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.apify.com/v2/acts/ch6gZoTBdOqyaVuVw/runs?waitForFinish=300",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n    \"country\": \"{{ $json.countryCode }}\",\n    \"keyword\": \"{{ $json.search }}\",\n    \"language\": \"en\",\n    \"location\": \"{{ $json.location }}\",\n    \"maxLeads\": {{ $json.limit }},\n    \"proxyConfiguration\": {\n        \"useApifyProxy\": true\n    }\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                580,
                680
            ],
            "id": "1e49a748-62d8-4247-8816-ba1971830708",
            "name": "HTTP Request1",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "SnXFnDMjJNbazDLf",
                    "name": "Apify"
                }
            }
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "1uuz2P8Igbi5ycSfa0auLXMmhqD7j5Xkhd9-6XZ_kEBY",
                    "mode": "list",
                    "cachedResultName": "Scraped Data",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uuz2P8Igbi5ycSfa0auLXMmhqD7j5Xkhd9-6XZ_kEBY/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": 1779930487,
                    "mode": "list",
                    "cachedResultName": "Instagram Companies",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uuz2P8Igbi5ycSfa0auLXMmhqD7j5Xkhd9-6XZ_kEBY/edit#gid=1779930487"
                },
                "columns": {
                    "mappingMode": "autoMapInputData",
                    "value": {},
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "lead",
                            "displayName": "lead",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "username",
                            "displayName": "username",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "followers",
                            "displayName": "followers",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "userLink",
                            "displayName": "userLink",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "phones",
                            "displayName": "phones",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "emails",
                            "displayName": "emails",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "summary",
                            "displayName": "summary",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                1020,
                680
            ],
            "id": "47e43d75-d5cf-4068-b4b4-2a9ec59edfdc",
            "name": "Google Sheets1",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "seMEDuFYQQi6AWSe",
                    "name": "Google Sheets account"
                }
            }
        }
    ],
    "connections": {
        "When Executed by Another Workflow": {
            "main": [
                [
                    {
                        "node": "Code",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "HTTP Request1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request2": {
            "main": [
                [
                    {
                        "node": "Google Sheets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request": {
            "main": [
                [
                    {
                        "node": "HTTP Request2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code": {
            "main": [
                [
                    {
                        "node": "HTTP Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Sheets": {
            "main": [
                [
                    {
                        "node": "Aggregate1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request3": {
            "main": [
                [
                    {
                        "node": "Google Sheets1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request1": {
            "main": [
                [
                    {
                        "node": "HTTP Request3",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Sheets1": {
            "main": [
                [
                    {
                        "node": "Aggregate1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "pinData": {
        "When Executed by Another Workflow": [
            {
                "json": {
                    "search": "landscaping",
                    "location": "New York",
                    "state": "NY",
                    "country": "United States",
                    "limit": 200,
                    "countryCode": "us"
                }
            }
        ]
    },
    "versionId": "05de6157-bcb5-4c7f-9abc-82f01ba65836",
    "triggerCount": 0,
    "tags": []
}